{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie Selection</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div class=container>
        <header>
            <h1>
                Movies
            </h1>

            <h2 data-text={% if birthday %} "\(^.^)/" {% else %} "\(v.v)/" {% endif %}>
                {% if birthday %}
                \(^.^)/
                {% else %}
                \(v.v)/
                {% endif %}
            </h2>
        </header>
    </div>
</body>

</html>
